BESU_RPC_URL=
GOVERNOR_PRIVATE_KEY=
LAND_REGISTRY_ADDRESS=
LAND_TITLE_NFT_ADDRESS=
MQTT_BROKER_URL=
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
REDIS_URL=
REGISTRAR_PRIVATE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_DB_PASSWORD=
SUPABASE_JWKS_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=